  
  <section id="wrapper">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid mx-2">
        <!-- <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="uil-bars text-white"></i>
          </button>
          <a class="navbar-brand" href="#">admin<span class="main-color">kit</span></a>
        </div> -->
        <div class="collapse navbar-collapse" id="toggle-navbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{navigate}}"> Home
                <img src="https://img.icons8.com/material-sharp/30/40C057/home.png"/>
                <i class="uil-bell"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile"> Profile
                <img src="https://img.icons8.com/ios-glyphs/30/26e07f/user-male-circle.png"/>
                <i class="uil-bell"></i>
              </a>
            </li>
            <li class="nav-item">
              <a type="button" class="nav-link" (click)="logout()">Logout
                <img src="https://img.icons8.com/external-tal-revivo-green-tal-revivo/30/000000/external-online-account-logout-with-arrow-direction-mark-login-green-tal-revivo.png"/>
                <i class="uil-comments-alt"></i>
              </a>
            </li>
            <!-- <div class="vl"></div> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">fasdfs
                <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
              </a>
            </li> -->

          </ul>
        </div>
      </div>
    </nav>
  
    <!-- <div class="p-4">
      <div class="welcome">
        <div class="content rounded-3 p-3">
          <h1 class="fs-3">Welcome to Dashboard</h1>
          <p class="mb-0">Hello Jone Doe, welcome to your awesome dashboard!</p>
        </div>
      </div>
    </div> -->
    
  </section>
  
