<div class="sidebar">
<!--  <img class="sidebar-img" src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">-->
  <div style="text-align: center; font-size: 1em">Welcome to IIITB Complaint Management System home page.
    Please convey your complaints or queries to us and we will resolve them at the earliest.</div>
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToCreateSubpost()">Create Subpost</button>
  </div>
</div>
