<!-- text(x : number): void
  {
    if (x==0) document.getElementById("mycode").style.display="block";
    else document.getElementById("mycode").style.display = "none";
    return;
  } -->
<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Register</h4>
                </div>
                <div class="card-body">

                    <form [formGroup]="signupForm" (ngSubmit)="signup()">

                        <div class="form-group row">
                          <label class="col-md-4 col-form-label text-md-right">Choose type of User</label>
                          <div class="col-md-6">
                          <div>
                              <input id= "radios" type="radio" name="radio" value="Comm" (click)="toggleDropdown(0)"/>Committee
                              <input id = "radios" type="radio" name="radio" value="Student" (click)="toggleDropdown(1)" checked/>Student
                          </div>
                          <div id="mycode" *ngIf="radioValue">
                            <select id="select">
                              <option value="" selected disabled>Select Committee</option>
                              <option *ngFor="let comm of committees" [ngValue]="comm.description"> {{comm.name}}</option>
                            </select>
                          </div>


                          </div>
                        </div>

                        <div class="form-group row" *ngIf="!radioValue">
                          <label class="col-md-4 col-form-label text-md-right">Name</label>
                          <div class="col-md-6">
                            <input type="text" [formControlName]="'name'" id="name" class="form-control" required autofocus>
                            <span *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched">Please provide a valid name!</span>
                          </div>
                        </div>

                        <div class="form-group row" *ngIf="!radioValue">
                          <label for="rollNo" class="col-md-4 col-form-label text-md-right">Roll Number</label>
                          <div class="col-md-6">
                            <input type="text" [formControlName]="'rollNo'" id="rollNo" class="form-control" name="roll-no" required
                                   autofocus>
                            <span *ngIf="!signupForm.get('rollNo').valid && signupForm.get('rollNo').touched">Please provide a valid roll number!</span>
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail
                                Address</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'email'" id="email" class="form-control" name="email" required
                                    autofocus>
                              <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please provide a valid email!</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password" required>
                              <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Please provide a valid password!</span>
                            </div>
                        </div>

                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up">
                                Sign Up
                            </button>
                            <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
