<!--  -->

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Yellowtail" rel="stylesheet"/>
<div class="container box">
  <div class="container inner text-center">
    <h1 class="header">{{post.postName}}</h1><br>
  </div>
  <div class="post-body">
    <p ng-repeat="paragraph in post.body">
      {{post.description}}
    </p> 
   </div>
  <div class="container buttons">
    <a href="view-post">
    <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/></a>
    {{post.voteCount}}
    <img src="https://img.icons8.com/material-outlined/24/000000/comments--v1.png"/>
    {{post.commentCount}}
    <!-- <button class="start button" type="button">START</button>
    <button class="reset button" type="button">RESET</button> -->
  </div>
</div>
<div class="container box">
  <div class="comment-section">
    <h1 class="heading">Comments:</h1>
    <div class="theSection"><img class="icon" src="https://thesocietypages.org/socimages/files/2009/05/nopic_192.gif"/><span class="commented">This is a sample comment</span></div>
    <div class="theSection"><img class="icon" src="https://thesocietypages.org/socimages/files/2009/05/nopic_192.gif"/><span class="commented">This is a sample comment-1</span></div>
  </div>
  <div class="container inside">
    <div class="left">
      <!-- <textarea class="comment" [(ngModel)]="comment.text" type="text" placeholder="Write a comment..." ></textarea> -->
      <!-- <input class="comment" [(ngModel)]="comment.text" type="text" placeholder="Write a comment..." /> -->
      {{comment.text}}

      <button class="button insert" type="button" [disabled]="!comment.text" (click)="onSubmitComment(comment)">Insert a comment</button>
    </div>
    
  </div>
  
</div>






<!--  -->
