
<div class="post">
    <div>
      
      <h2>{{post.postName}}</h2>
      <!-- <img src="{{post.image}}" ng-show="{{post.image}}"/> -->
      <cite>by {{post.userName}} on {{post.localDateTime }}</cite>
      <div class="post-body">
       <p ng-repeat="paragraph in post.body">
         {{post.description}}
       </p> 
      </div>
      
      <div class="comments" ng-controller="CommentController as commentCtrl">
        <button class="fa fa-heart" ng-click="post.voteCount = post.voteCount+1"> {{post.voteCount}}</button>
        <h3>Comments</h3>
        <!-- <ul>
         <li ng-repeat="comment in post.comments">
           "{{comment.body}}"
           <cite>- <b>{{comment.author}}</b></cite>
         </li>
        </ul> -->
        <form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addComment(post)" novalidate>
        
          
          <h4>Add Comment</h4>
            <textarea ng-model="commentCtrl.comment.body" cols="30" rows="10" required></textarea>
          <label for="">by:</label>
            <input type="text" ng-model="commentCtrl.comment.author" required placeholder="Name"/>
            
            <input type="submit" value="Submit" />
          </form>
      </div>
  </div>
</div>


<!--  -->




<link href="https://fonts.googleapis.com/css?family=Open+Sans|Yellowtail" rel="stylesheet"/>
<div class="container box">
  <div class="container inner text-center">
    <h1 class="header">{{post.postName}}</h1><br>
  </div>
  <div class="post-body">
    <p ng-repeat="paragraph in post.body">
      {{post.description}}
    </p> 
   </div>
  <div class="container buttons">
    <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
    {{post.voteCount}}
    <img src="https://img.icons8.com/material-outlined/24/000000/comments--v1.png"/>
    {{post.commentCount}}
    <!-- <button class="start button" type="button">START</button>
    <button class="reset button" type="button">RESET</button> -->
  </div>
</div>
<div class="container box">
  <div class="comment-section">
    <h1 class="heading">Comments:</h1>
    <div class="theSection"><img class="icon" src="https://thesocietypages.org/socimages/files/2009/05/nopic_192.gif"/><span class="commented">This is a sample comment</span></div>
    <div class="theSection"><img class="icon" src="https://thesocietypages.org/socimages/files/2009/05/nopic_192.gif"/><span class="commented">This is a sample comment-1</span></div>
  </div>
  <div class="container inside">
    <div class="left">
      <input class="comment" type="text" placeholder="Write a comment..."/>
      <button class="button insert" type="button">Insert a comment</button>
    </div>
    
  </div>
  
</div>






<!--  -->
<section id="comment-sec">

  <div class="comment-box c-box1 mt-30">
    <h1>Comment on the Post</h1>
    <div class="main-content">
      <div class="comments flex space-between items-center ">
        <div class="c1 ">
          <div class="profile flex items-center">
            <img src="https://www.pngkey.com/png/full/590-5904853_glen-circle-profile-fundraising.png" class="user-pic">
            <div class="user-name">
              <h3>Daniel Herper</h3>
              <span>Mar 22, 2018</span>

            </div>

          </div>

        </div>
        <div class="reply">
          <a href="#">Reply</a>
        </div>

      </div>
      <p class="c-text">Brisket picanha shoulder short ribs turducken ball tip. Drumstick pig venison tongue cupim filet mignon shankle shoulder chuck sausage tenderloin.</p>

    </div>


  </div>
  <div class="comment-box c-box2 cb2">
    <div class="main-content">
    <div class="comments flex space-between items-center ">
        <div class="c1 ">
          <div class="profile flex items-center">
            <img src="https://www.pngkit.com/png/full/639-6399637_henry-circle-gentleman.png" class="user-pic">
            <div class="user-name">
              <h3>Nettie Stokes</h3>
              <span>Mar 22, 2018</span>

            </div>

          </div>

        </div>
        <div class="reply">
          <a href="#">Reply</a>
        </div>

      </div>
      <p class="c-text">Meatball boudin sirloin turkey tri-tip frankfurter pork loin shank. Shoulder ground round pancetta, pork short loin hamburger filet mignon.</p>	
          </div>

    
    
    

    



      <div class="comment-form mb-30">
     <h1>Leave a Comment</h1>

      <!-- <div class="form">
        <div class="name"><input type="text"  name="" placeholder="your name"></div>
        <div>
          <div class="email"><input type="text"  name="" placeholder="email address"></div>
        </div>
        <div>
          <div class="subject"><input type="text"  name="" placeholder="subject"></div>
        </div>
      </div> -->
      <textarea  class="text-area" type="text" placeholder="Your comment..">
      </textarea>
      <input type="submit" name="" class="submit-btn" value="Send Comment">
    </div>
  </div>
</section> 